img {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: auto;
    max-width: 120px;
}

button {
    border-radius: 5px;
    color: darkslateblue;
    min-width: 100px;
    min-height: 20px;
}

.searchForm {
    margin: 20px;
    padding: 20px;
}

.sortAndFilterForms {
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 75%;
}

input, select {
    border-radius: 5px;
    max-width: 120px;
    min-height: 20px;
}

h4 {
    display: inline;
}

h2 {
    display: inline;
    margin-top: 0;
}

h1 {
    margin-left: 80px;
}

#descripion {
    margin: 15px;
}

#list {
    max-width: 75%;
    margin: auto;
}

#singleResult {
    background-color: rgb(233, 239, 252);
    border-radius: 5px;
    display: flex;
    margin: 15px;
    padding: 15px;
}

#singleResult:first-of-type {
    margin-top: 10px;
}

#endOfListInfo{
    display: flex;
    justify-content: center;
}